extends layout

block content
    h1 About RegidiumWiki 
        a(href="/__help") looking for help?
    p RegidiumWiki is a NodeJS powered Wiki which is designed to be quite small, but with quite a few features.
    h4 Features
    ul
        li Markdown
        li Coloured Editor
        li Preview images from the editor
        li Responsive
        li Portable
        li No users, no database, no fuss
        li Minimal
        li Simple
    h4 Credits
    p This is the stuff that I have used. If I want to procastinate extremely in the future, I will complete the links on this list
    ul
        li jQuery
        li
            a(href="https://github.com/lrsjng/jQuery.fracs") jQuery.fracs (that thing on the right hand side)
        li Modernizr
        li
            a(href="https://github.com/jaz303/jquery-grab-bag/blob/master/javascripts/jquery.autogrow-textarea.js") jQuery AutoGrow Textarea
        li jQuery File drop
        li CodeMirror
        li NodeJS
        li node: Formidable
        li node: Express
        li node: Jade
        li node: Slightly modifed version of marked
        li node: Consolidate