a.icon(title="View Page", href="#{wikipage}")
    svg(version="1.0", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="22px", height="22px", viewBox="0 0 100 56.533", enable-background="new 0 0 100 56.533", xml:space="preserve")
        path(d="M99.995,28.08c-0.002-0.042-0.006-0.082-0.009-0.123c-0.002-0.021-0.003-0.042-0.005-0.062 c-0.003-0.03-0.008-0.06-0.012-0.089c-0.004-0.035-0.008-0.07-0.014-0.104c-0.001-0.004-0.002-0.009-0.002-0.013 c-0.123-0.773-0.487-1.498-1.045-2.056c-3.19-3.781-6.985-7.146-10.844-10.219C79.753,8.792,70.248,3.252,59.756,1.022 C53.692-0.266,47.59-0.321,41.494,0.769c-5.545,0.992-10.889,3.054-15.891,5.61c-7.829,4-14.979,9.515-21.209,15.698 c-1.153,1.144-2.3,2.312-3.348,3.555c-1.396,1.654-1.396,3.613,0,5.267c3.19,3.781,6.985,7.145,10.844,10.219 c8.312,6.622,17.817,12.161,28.309,14.391c6.064,1.289,12.167,1.344,18.263,0.254c5.544-0.992,10.888-3.054,15.891-5.61 c7.829-4.001,14.979-9.515,21.209-15.698c1.153-1.145,2.3-2.312,3.348-3.555c0.558-0.559,0.922-1.283,1.045-2.057 c0-0.004,0.001-0.009,0.002-0.013c0.006-0.035,0.01-0.069,0.014-0.104c0.004-0.029,0.009-0.059,0.012-0.089 c0.002-0.021,0.003-0.041,0.005-0.062c0.003-0.04,0.007-0.08,0.009-0.122c0.003-0.062,0.005-0.124,0.005-0.187 S99.998,28.142,99.995,28.08z M50,47.507c-10.627,0-19.241-8.614-19.241-19.241C30.759,17.64,39.373,9.025,50,9.025 s19.241,8.614,19.241,19.241C69.241,38.893,60.627,47.507,50,47.507z")
        circle(cx="50", cy="28.266", r="6.369")


a.icon.editIcon(title="Edit Page", href="/edit/#{wikipage}",)
    svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", width="22px", height="22px", fill="#FFF", viewBox="0 0 100 100", enable-background="new 0 0 100 100", xml:space="preserve")
        g#Captions
        g#Layer_7(display="none")
        g#Your_Icon(display="none")
            path(display="inline", d="M49.998,14.018c-19.873,0-35.98,16.109-35.98,35.982s16.107,35.982,35.98,35.982S85.982,69.873,85.982,50   S69.871,14.018,49.998,14.018z M73.987,50c0,4.535-1.288,8.766-3.487,12.391L37.608,29.498c3.621-2.197,7.852-3.484,12.39-3.484   C63.226,26.014,73.987,36.771,73.987,50z M26.013,50c0-4.344,1.175-8.412,3.205-11.934l32.715,32.715   c-3.518,2.027-7.588,3.205-11.935,3.205C36.771,73.986,26.013,63.229,26.013,50z")
        g#Layer_6(display="none")
            polygon(display="inline", points="64.233,14.998 60.503,14.998 56.765,14.998 56.765,52.798 60.503,53.73 60.503,85.937    67.967,85.937 67.967,14.998  ")
            polygon(display="inline", points="44.385,34.027 41.642,34.027 41.642,14.063 38.336,14.063 38.336,34.027 35.152,34.027    35.152,14.063 32.033,14.063 32.033,32.033 32.033,36 32.033,42.065 36.234,44.479 36.234,85.937 43.703,85.937 43.703,44.479    47.897,42.065 47.897,36 47.897,32.033 47.897,14.063 44.385,14.063  ")
        g#Layer_5(display="none")
            polygon(display="inline", points="55.994,14.018 20.015,14.018 20.015,85.982 79.985,85.982 79.985,38.049 55.994,38.049  ")
            polygon(display="inline", points="61.996,14.018 61.996,32.055 79.985,32.055  ")
        g#Layer_4
            polygon(points="73.988,73.988 26.012,73.988 26.012,26.014 48,26.014 59.995,14.018 14.018,14.018 14.018,85.982 85.982,85.982    85.982,40.008 73.988,52  ")
            rect(x="37.246", y="27.63", transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 131.8579 23.0947)", width="47.799", height="22.451")
            polygon(points="32.009,52.121 32.051,67.947 47.882,67.992 47.951,67.93 32.076,52.053  ")