extends layout

block content
    h1 Page List
    - if (get && get.deleted == true)
        div.message Page was deleted
    ul
    - for (key in files)
       li
            a(href="#{files[key]}") #{files[key]}